<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!-- breadcrumbs -->
        <app-breadcrumbs></app-breadcrumbs>
        <router-outlet></router-outlet>
  
        <!-- Mi sistema de rutas -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
<!--         <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
  
                      
                  </div>
              </div>
          </div>
        </div> -->
        <!--
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando... </h4>
            <i class="fa fa-spin fa-refresh fa-2x"> </i>
            <p class="mb-0">Por favor expere</p>
        </div>
        -->


        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
      
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © 2023 Admin Pro by wrappixel.com
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>
  <app-modal-imagen></app-modal-imagen>
