
#themecolors .selector {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.imglist-avatar {
    border-radius: 100%;
    width: 35px;
}


.fondo-modal-imagen {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.oculto {
    display: none;
}