<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                       class="form-control"
                       placeholder="Buscar usuario..."
                       (keyup)="buscar( txtCriterio.value )"
                       #txtCriterio />
                
            </div>
        </div>
    </div>
  </div>

  <div *ngIf="cargando"  class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando... </h4>
            <i class="fa fa-spin fa-refresh fa-2x"> </i>
            <p class="mb-0">Por favor expere</p>
        </div>
    </div>
  </div>

  <div *ngIf="!cargando" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de Usuarios ( {{ totalRegistros }} ) </h4>
                <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100 text-center">Avatar</th>
                                <th>email</th>
                                <th>Nombre</th>
                                <th class="w140">Role</th>
                                <th class="text-center w100">Auth</th>
                                <th class="text-nowrap w100 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registros">
                                <td class="text-center">
                                    <img [src]="item.imagenUrl" 
                                         class="imglist-avatar cursor"
                                         alt="user"
                                         (click)="abrirModal( item )"></td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.nombre }}</td>
                                <td> 
                                    <select class="form-control"
                                            (change)="cambiarRole( item )"
                                            [(ngModel)]="item.role">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select> 
                                </td>

                                <td class="text-center"> 
                                    <span *ngIf="item.google" 
                                          class="label label-danger">
                                          Google
                                    </span>
                                    <span *ngIf="!item.google" 
                                          class="label label-info">
                                          email
                                    </span>
                                </td>
                                <td class="text-nowrap text-center">

                                    <a data-toggle="tooltip" 
                                       (click)="eliminarUsuario( item )"
                                       class="cursor"
                                       data-original-title="Borrar"> 
                                       <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtCriterio.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">
                        Anterior
                    </button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>


  </div>